@page "/"
@rendermode @(new InteractiveServerRenderMode(false))
@inherits TodoBase

<PageTitle>Home</PageTitle>

<h1>What ToDo, what ToDo indeed!</h1>
<hr/>

@if (items != null && items.Any())
{
    <h4>Up next:</h4>
    <ul class="item-list">
        @foreach (var item in items.Where((i) => !i.IsCompleted))
        {
            <li>
                <left>
                    <input type="checkbox" @bind="item.IsCompleted" @onclick="StoreItems" />
                    &nbsp;

                    @if (item == editingItem)
                    {
                        <input class="inline-editing" type="text" @bind="item.Description" @onblur="() => SaveEdit(item)" @onkeypress="(KeyboardEventArgs e) => CheckForEnter(e, item)"/>
                    }
                    else
                    {
                        <span>@item.Description</span>
                    }

                </left>
                <right>
                    <span @onclick="() => EditItem(item)">
                        <i class="fa fa-pencil"></i>
                    </span>

                    <span @onclick="() => RemoveItem(item)">
                        <i class="fa fa-trash"></i>
                    </span>
                </right>
            </li>
        }
    </ul>
    <NewToDo OnNewItemAdded="CreateItem" />
}
else
{
    <p>Nothing pending! Let's fix that.</p>
    <NewToDo OnNewItemAdded="CreateItem" />
}